.Ingredients {
    color: rgb(58, 138, 241);
}

.Description {
    color: rgb(98, 98, 248);
}

.Steps {
    color: rgb(103, 151, 212);
}

.Recipe {
    color: rgb(111, 0, 255);
}

.Odin-recipes {
    color: rgb(83, 55, 112);
}

.lists {
    color: rgb(255, 0, 0);
}

.links {
    color: rgb(255, 153, 0);
}